@import "../../style.scss";

.leftbar {
    @include themify($themes){


//     box-shadow: hsl(0 0% 0% / 0.25) 0 0.25em 0.5em;
//   background: hsl(0 0% 100%);
// //   padding: 2em;
//   margin-left: auto;
//   margin-right: auto;
// //   max-width: 450px;
// //   max-height: 350px;
//   overflow: hidden;
//   scrollbar-gutter: stable both-edges;

    @include mobile {
        display: none;
    }

    flex: 2;
    position: sticky;
    top: 50px;


    height: calc(100vh - 50px);
    background-color: themed("bg");
    color: themed("textColor");
    // background-color: white;
    // overflow:auto;

    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }

    .container {

        padding: 20px;
        
        hr {
            margin: 20px 0px;
            border: none;
            height: 0.5px;

            background-color: themed("border");
        }

        .menu{

            display: flex;
            flex-direction: column;
            gap: 20px;

            span {
                font-size: 12px;
            }

            .user {
                display: flex;
                align-items: center;
                font-weight: 500;
                gap: 10px;
            
                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;

                    object-fit: cover;
                }

                span {
                    font-size: 14px;
                }
            }

            .item {
                display: flex;
                align-items: center;
                gap: 10px;

                img {
                    width: 30px;
                    
                }

                span {
                    font-size: 14px;
                }

            }

        }
    }
}
}
// .leftbar:hover,
// .leftbar:active,
// .leftbar:focus {
//   overflow-y: scroll;
// }

// .leftbar::-webkit-scrollbar {
//   width: 0.5em;
// }

// .leftbar::-webkit-scrollbar-track {
//   background-color: hsl(250 15% 93%);
// }

// .leftbar::-webkit-scrollbar-thumb {
//   background-color: hsl(250 15% 60%);
// }

// .leftbar::-webkit-scrollbar-thumb:hover {
//   background-color: hsl(250 15% 27%);
// }